---
import Header from "../components/Header.astro";
import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
import '/src/styles/style.css'

const { title } = Astro.props;
---

<html lang="it">
	<head>
		<title>{title}</title>

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Header />
		<div id="content" class="m-3">
        	<slot/>
		</div>
	</body>
</html>
