---
import { useSanityClient } from "astro-sanity";
import MainLayout from "../layouts/MainLayout.astro";

const title = "CthulhuHome"
const posts = await useSanityClient().fetch(`*[_type == "post"]`);
---

<MainLayout title={title}>
{posts &&
		<ul>
			{posts.map( (post) => (
				<li><a href={`post/${post.slug.current}`}>{post.title}</a></li>
			))}
		</ul>
}
</MainLayout>
